.tittle-line {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

main {
    padding: 20px;
    background-color: wheat;
    border: 2px solid black;
    font-family: 'Times New Roman', Times, serif;
}

.bold {
    font-size: 75px;
    font-weight: bold;
}

.center{
    text-align: center;
}

hr {
    flex: 1;
    border: none;
    border-top: 2px solid black;
}

.tittle-line hr {
    flex: 1;
    border: none;
    border-top: 2px solid black;
}

.menu-item {
    margin-bottom: 30px;
    display: flex-column;
    align-items: center;
    gap: 25px;
    background-color: chocolate;
    border: 4px solid rgb(255, 128, 0);
    height: 202px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    width: 50%;
}

.image-container {
    float: left;
    height: 200px;
    width: 200px;
    margin-right: 6px;
}

.menu {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    
}

.back-link {
    text-decoration: none;
    color: black;
}
.back-link:hover {
    background-color: black;
    color: wheat;
}
.back-link:active {
    color: black;
}